@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .press-effect-1 {
    @apply transform active:scale-90;
  }
  .press-effect-2 {
    @apply transform active:scale-110;
  }
  .btn {
    @apply p-1 mx-auto font-semibold text-center rounded focus:outline-none hover:shadow;
  }
  .icon-btn {
    @apply p-1 rounded focus:outline-none hover:shadow;
  }
}

html {
  min-width: 320px;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins';
}
